

.account-page__content_link {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 134px;
    max-width: 440px;
    min-height: 372px;
    background-color: #FFFFFF;


}

.account-page__link {
    display: inline-block;
    font-family: 'Bayon Regular';
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: #2D5A5F;
}

